force-app/main/default/flows/OpportunityShowCampaigns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddToActiveCampaigns</name>
        <label>Add to Active Campaigns</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ActiveCampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveCampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ActiveCampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToInactiveCampaigns</name>
        <label>Add to Inactive Campaigns</label>
        <locationX>402</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>InactiveCampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreak</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InactiveCampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Space</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InactiveCampaignList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetCampaignName</name>
        <label>Get Campaign Name</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CampaignName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMembers.Campaign.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCampaignActive</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ActiveChoice</name>
        <choiceText>Active Campaigns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>BothChoice</name>
        <choiceText>Both</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Both</stringValue>
        </value>
    </choices>
    <choices>
        <name>InactiveChoice</name>
        <choiceText>Inactive Campaigns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </choices>
    <constants>
        <name>LineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br /&gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>Space</name>
        <dataType>String</dataType>
        <value>
            <stringValue> </stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsCampaignActive</name>
        <label>Is Campaign Active</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AddToInactiveCampaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Active</defaultConnectorLabel>
        <rules>
            <name>IsActive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMembers.Campaign.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddToActiveCampaigns</targetReference>
            </connector>
            <label>Is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimaryContactExists</name>
        <label>Primary Contact Exists?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NoPrimaryContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimaryContactRole.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCampaignMembers</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity Show Campaigns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Show Campaigns</label>
    <loops>
        <name>CampaignMembers</name>
        <label>Campaign Members</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>GetCampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCampaignName</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Campaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCampaignMembers</name>
        <label>Get Campaign Members</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CampaignMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrimaryContactRole.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPrimaryContactRole</name>
        <label>Get Primary Contact Role</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrimaryContactExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPrimary</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Campaigns</name>
        <label>Campaigns</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Campaigns_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Campaigns_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CampaignChoice</name>
                    <choiceReferences>ActiveChoice</choiceReferences>
                    <choiceReferences>InactiveChoice</choiceReferences>
                    <choiceReferences>BothChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>BothChoice</defaultSelectedChoiceReference>
                    <fieldText>Campaign Choice</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Campaigns_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayActiveCampaign</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Active Campaigns&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!ActiveCampaignList}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>CampaignChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Active</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CampaignChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Both</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Campaigns_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayInactiveCampaings</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Inactive Campaigns&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!InactiveCampaignList}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>CampaignChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Inactive</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>CampaignChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Both</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoPrimaryContact</name>
        <label>No Primary Contact</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoContact</name>
            <fieldText>&lt;p&gt;Kein Kontakt da&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPrimaryContactRole</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveCampaignList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InactiveCampaignList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
